.form-background{
    background-color: #b8b2b2 !important;
}

.input-text{
    padding: 8px !important;
}

.m-width-70 {
    max-width: 70px !important;
}

.m-width-150 {
    max-width: 150px !important;
}

.dashboard {
    height: 80px;
    border: solid 1px gray;
    text-align: center;
    font-size: 3em;
    padding: 10px;
    background-color: black;
    color: white;
}
